<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/damir-bosnjak.jpg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" src="assets/img/mike.jpg" alt="...">
            <h5 class="title">王小明</h5>
          </a>
          <p class="description">
            木藝工藝家
          </p>
        </div>
        <p class="description text-center">
          "I like the way you work it
          <br> No diggity
          <br> I wanna bag it up"
        </p>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-6 ml-auto">
              <h5>12
                <br>
                <small>工藝品</small>
              </h5>
            </div>
            <div class="col-lg-6 col-md-6 col-6 ml-auto mr-auto">
              <h5>3
                <br>
                <small>作品集</small>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="card">
      <div class="card-header">
        <h4 class="card-title">團隊成員</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled team-members">
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div class="col-md-7 col-7">
                DJ Khaled
                <br />
                <span class="text-muted">
                  <small>Offline</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img src="assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div class="col-md-7 col-7">
                Creative Tim
                <br />
                <span class="text-success">
                  <small>Available</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img src="assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div class="col-ms-7 col-7">
                Flume
                <br />
                <span class="text-danger">
                  <small>Busy</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div> -->
  </div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">更新個人資料</h5>
      </div>
      <div class="card-body">
          <form action="" method="">
              <div class="position-relative row form-group"><label for="userImgs" class="col-sm-12 col-form-label">上傳個人圖片</label>
                  <div class="col-sm-12"><input name="userImgs" id="userImgs" type="file" class="form-control-file"></div>
              </div>
              <div class="position-relative row form-group"><label for="userEmail" class="col-sm-12 col-form-label">電子郵件</label>
                  <div class="col-sm-12"><input name="userEmail" id="userEmail" placeholder="請輸入電子郵件" type="email" class="form-control"></div>
              </div>
              <div class="position-relative row form-group"><label for="userPhone" class="col-sm-12 col-form-label">連絡電話</label>
                  <div class="col-sm-12"><input name="userPhone" id="userPhone" placeholder="請輸入連絡電話" type="text" class="form-control"></div>
              </div>
              <div class="position-relative row form-group"><label for="userWorkShop" class="col-sm-12 col-form-label">工作坊名稱</label>
                  <div class="col-sm-12"><input name="userWorkShop" id="userWorkShop" placeholder="請輸入工作坊名稱" type="text" class="form-control"></div>
              </div>
              <div class="position-relative row form-group"><label for="userAddress" class="col-sm-12 col-form-label">工作坊地址</label>
                  <div class="col-sm-12"><input name="userAddress" id="userAddress" placeholder="請輸入工作坊地址" type="text" class="form-control"></div>
              </div>
              <div class="position-relative row form-group"><label for="userOpen" class="col-sm-12 col-form-label">開放時間</label>
                  <div class="col-sm-12"><input name="userOpen" id="userOpen" placeholder="請輸入開放時間" type="text" class="form-control"></div>
              </div>
              <div class="position-relative row form-group"><label for="userIntro" class="col-sm-12 col-form-label">簡介</label>
                  <div class="col-sm-12"><textarea name="userIntro" id="userIntro" placeholder="請輸入簡介" class="form-control"></textarea></div>
              </div>
              <div class="row">
                  <div class="update ml-auto mr-auto">
                    <button type="submit" class="btn btn-primary btn-round">更新個人檔案</button>
                  </div>
              </div>
          </form>
      </div>
    </div>
  </div>
</div>
