<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">進入考場</h4>
      </div>
      <div class="card-body">

          <form action="" method="">
            <div class="position-relative row form-group"><label for="examName" class="col-sm-12 col-form-label">教師機代碼</label>
                <div class="col-sm-12"><input name="examName" id="examName" placeholder="請輸入教師機代碼" type="text" class="form-control"></div>
            </div>
            <div class="position-relative row form-group"><label for="examPasswd" class="col-sm-12 col-form-label">考場密碼</label>
              <div class="col-sm-12"><input name="examPasswd" id="examPasswd" placeholder="請輸入考場密碼" type="text" class="form-control"></div>
            </div>
            <div class="position-relative row form-group"><label for="examNumber" class="col-sm-12 col-form-label">考生學號</label>
                <div class="col-sm-12"><input name="examNumber" id="examNumber" placeholder="請輸入考生學號" type="text" class="form-control"></div>
            </div>

            <div class="row">
                <div class="update ml-auto mr-auto">
                  <button type="submit" class="btn btn-primary btn-round">進入考場</button>
                </div>
            </div>
          </form>

      </div>
    </div>
  </div>
</div>
