<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">新增作品集</h4>
      </div>
      <div class="card-body">

          <form action="" method="">
            <div class="position-relative row form-group"><label for="userPhone" class="col-sm-12 col-form-label">作品集名稱</label>
                <div class="col-sm-12"><input name="userPhone" id="userPhone" placeholder="請輸入作品集名稱" type="text" class="form-control"></div>
            </div>
            <div class="position-relative row form-group"><label for="userWorkShop" class="col-sm-12 col-form-label">工作坊名稱</label>
                <div class="col-sm-12"><input name="userWorkShop" id="userWorkShop" placeholder="請輸入工作坊名稱" type="text" class="form-control"></div>
            </div>
            <div class="position-relative row form-group"><label for="userAddress" class="col-sm-12 col-form-label">選擇作品</label>
                <div class="col-sm-12"><input name="userAddress" id="userAddress" placeholder="請選擇作品" type="text" class="form-control"></div>
            </div>
            <div class="position-relative row form-group"><label for="userIntro" class="col-sm-12 col-form-label">作品集簡介</label>
                <div class="col-sm-12"><textarea name="userIntro" id="userIntro" placeholder="請輸入作品集簡介" class="form-control"></textarea></div>
            </div>
            <div class="row">
                <div class="update ml-auto mr-auto">
                  <button type="submit" class="btn btn-primary btn-round">新增作品集</button>
                </div>
            </div>
          </form>

      </div>
    </div>
  </div>
</div>
