<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">作品集列表</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th *ngFor="let item of tableData1.headerRow">
                  {{item}}
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let rows of tableData1.dataRows">
                  <td>{{rows.id}}</td>
                  <td>{{rows.name}}</td>
                  <td>{{rows.count}}</td>
                  <td>{{rows.createTime}}</td>
                  <td>
                      <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                      </label>
                  </td>
                  <td>
                    <button class="btn btn-primary btn-fab btn-icon btn-round" data-toggle="tooltip">
                      <i class="fa fa-plus"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
